extends base
block content
    main.main
        .login-form
            if userName
                h2.heading-secondary.ma-bt-lg weclome back #{userName}!
                form.form.form--resetPassword
                    .form__group
                        label.form__label(for='password') New password
                        input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
                    .form__group
                        label.form__label(for='password-confirm') Confirm password
                        input#password-confirm.form__input(type='password', placeholder='••••••••', required, minlength='8')
                    .form__group
                        button.btn.btn--green Reset
            else 
                h2.heading-secondary.ma-bt-lg reset your password
                form.form.form--forgotPassword
                    .form__group
                        input#email.form__input(type='email', placeholder='Your Email address', required)
                    .form__group
                        button.btn.btn--green submit